.all-fimages-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 256px));
  grid-gap: 20px;
  justify-items: start;
  width: 100%;
  justify-content: center;
  background-color: #35374B;
  padding:20px;
  box-sizing: border-box;
  }
  