.confirm-btn{
    padding: 5px 10px;
    max-width: 100px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(120, 0, 175);
    display: inline-block;
    transition: 0.2s;
    border: 1px solid rgb(89, 89, 89);
}

.confirm-btn:hover{
    background-color: rgb(95, 2, 137);
    cursor: pointer;
    transition: 0.2s;
}