.image > img {
  width: 300px;
  height: 300px;
}

.image > button {
  padding: 5px 10px;
  max-width: 100px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: rgb(202, 81, 44);
  display: inline-block;
  transition: 0.2s;
  cursor:pointer;
}
